.app {
  font-family: "Trebuchet MS", "Lucinda Sans Unicode", "Lucinda Grande";
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.question-area {
  max-width: 1000px;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question-box {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-button {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}

button:disabled {
  background-color: darkgrey;
  color: darkolivegreen;
}

select {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}
